@media all and (max-width: 320px) {
    .news{
        position: relative;
        top: -260px;
    }
}
@media all and (max-width: 414px) {
    .news{
        position: relative;
        top: -260px;
    }
}