.heading1{
    text-align: center;
}
.paragraph1{
    width:70%;
    margin: auto;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.into_video{
width: fit-content;
margin: auto;
margin-top: 50px;
font-size: larger;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divider{
    width: 70%;
    margin-top: 100px;
}
@media all and (max-width: 320px){
    .hero_img{
        width: 55vh;
        position: relative;
        top: -190px;
    }
}